.proud-of {
    margin-top: 100px;
    h2 {
        font-family: 'Sansita';
        font-size: 54px;
        font-weight: 700;
        line-height: 70px;
        margin-bottom: 50px;
    }
    .dashboard {
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 30px;
        .dashboard-items {
            width: 330px;
            padding: 40px 0 0 0;
            border-radius: 10px;
            box-shadow: 0px 4px 30px 0px #0A1E231A;
            height: 248px;
            h3 {
                margin-bottom: 20px;
                font-family: 'Sansita';
                font-size: 42px;
                font-weight: 700;
                line-height: 55px;
                text-align: left;
                color: #EC80A0;
            }
            p {
                font-family: 'Barlow';
                font-size: 24px;
                font-weight: 700;
                line-height: 31px;
                letter-spacing: 0em;
                text-align: center;
                color: #1A1114;
                margin-bottom: 10px;
            }
            p:last-child {
                font-family: 'Open Sans';
                font-size: 15px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: center;
                color: #0A1E23;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .proud-of {
        margin-top: 76px !important;
        h2 {
            font-size: 36px !important;
            line-height: 47px !important;
            text-align: center !important;
            margin-bottom: 30px !important;
        }
        .dashboard {
            gap: 20px !important;
            .dashboard-items {
                margin: 0 auto !important;
                width: 388px !important;
                height: 215px !important;
                padding: 30px 0 0 0 !important;
                h3 {
                    font-size: 36px !important;
                    line-height: 47px !important;
                    text-align: center !important;
                    margin-bottom: 15px !important;
                }
                p {
                    font-size: 24px !important;
                    line-height: 31px !important;
                    text-align: center !important;
                }
                p:last-child {
                    margin: 0 auto !important;
                    width: 328px !important;
                    font-size: 15px !important;
                    line-height: 26px !important;
                    font-weight: 400 !important;
                }
            }
        }
    }
}